html, body {
  height: 100%;
  background-color: #F1F1F1;
}

body {
	background: url('../images/bg.jpg') repeat;
	height: auto;
	min-height: 100%;
}

body > .container {
	padding-top: 60px;
}

.navbar .brand {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	color: #fffef8;
}

.buttons .btn-primary {
	margin-bottom: 8px;
}

.buttons label {
	margin: 0 2px;
}

#wordlist {
	box-sizing: border-box;
	white-space: pre-wrap;
	width: 50%;
	min-height: 200px;
	max-height: 375px;
	background: #fffef8;
	margin: 8px 0;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #bbb;
	font-size: 1.2em;
	color: #777;
	overflow: auto;
}

input[type=text] {
	background-color: #fffef8;
}

.options ul {
	margin-left: 0;
}

.options h3 {
  margin-bottom: 10px;
}

.options li {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
  margin-bottom: 5px;
}

.options li label[for=startuppercase] {
  display: none;
}

div.footer {
  margin: 0 auto;
  padding: 50px 0 25px 0;
  text-align: center;
}